/build
/.regolith
/node_modules
/SimpleVehiclesAddOn-172Final/.regolith
/SimpleVehiclesAdd-on-1/.regolith
/SimpleVehiclesAdd-on-1/packs/data
/SimpleVehiclesAddOn-172Final/packs/data
/SimpleVehiclesAddOn-172Final/backup